**/presentation.aux
**/presentation.fdb_latexmk
**/presentation.fls
**/presentation.log
**/presentation.nav
**/presentation.snm
**/presentation.synctex.gz
**/presentation.toc
**/presentation.vrb

**/Local notes *.txt
**/Local notes *.adoc
**/Local/

Divers/SITN.html

