**/presentation.acr
**/presentation.aux
**/presentation.fdb_latexmk
**/presentation.fls
**/presentation.log
**/presentation.nav
**/presentation.out
**/presentation.snm
**/presentation.synctex.gz
**/presentation.toc
**/presentation.vrb

L3/persons-manager/

